//ALL SPECIFIC COMPONENTS
.s1-loc__my-account-panel {
  position: fixed;
  right: 24px;
  top: 16px;
  z-index: 2;
}

.s1-loc__my-account-panel + .s1-md-app .md-app-container .md-app-content {
  padding-right: 86px;
}

.md-content.md-scrollbar.s1-loc__form-card-wrapper {
  @media (min-width: 600px) {
    padding-left: 48px;
    padding-right: 24px;
  }
}
